html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);

html {
  background: url('https://assets.awwwards.com/awards/sites_of_the_day/2016/06/awwwards-sotd-TIMELIKES-1-.jpg') fixed;
  background-size: 100%;
}

div {
  overflow: hidden;
}

a {
  color: #322bff;
  text-decoration: underline;
  transition: 500ms;
}
a:hover {
  color: #26a1ff;
}

p {
  padding: 0 5%;
}

img {
  box-shadow: 0px 0px 4px #000;
}

#header {
  background: rgba(255, 255, 255, .5);
  padding: 1%;
  overflow: hidden;
  height: 55px;
}
#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}
#header ul li {
  float: left;
  margin-left: 10px;
  
}


#text-wrapper {
	width: 100%;
	height: 100px;
	background: black;
}
#output {
	width: 66%;
	height: 65px;
	font-family: Menlo, "Lucida Sans", Monaco, monospace;
	font-size: 36px;
	background: #8860D0;
	color: white;
	letter-spacing: 6.3px;
	float: left;
	border: none;
	text-align: left;
	padding: 0 2%;
}
::placeholder {
	color: white;
	letter-spacing: 0;
	font-size: smaller;
}
#clear-canvas {
	width: 30%;
	height: 100%;
	font-size: 150%;
	float: right;
	background: #5AB9EA;
	border: none;
	color: white;
	cursor: pointer;
}
@media (max-width: 1000px) {
	#clear-canvas span {
		transform: rotate(0deg);
		display: block;
	}
}
#clear-canvas:hover {
	background: #112D32;
}
#input-wrapper {
	width: 80%;
	height: 28px;
	clear: left;
	float: left;
	overflow-y: hidden;
}
#input-wrapper canvas, #input-wrapper img {
	display: inline-block;
	width: 28px;
	height: 28px;
}
#input-wrapper img:first-child {
	width: 14px;
}
#canvas-wrapper {
	position: relative;
}

#handwriting {
	cursor: crosshair;
	width: 100%;
	height: 50%;
}

#drawing-mode {
  margin-bottom: 10px;
  vertical-align: top;
  float: left;
}
#drawing-mode-options {
  display: block;
	position: absolute;
	top: 0;
	right: 0;
  background: #5680E9;
  padding: 10px;
  z-index: 1;
}
label {
  display: inline-block; width: 130px;
}
.info {
  display: inline-block;
  width: 25px;
  background: white;
  display: none;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');

footer {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:150%;
  font-weight:bold; 
  padding :center;
  text-align: center;
  position:center;
  width:100%;

  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 8s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
